/* ******************************************************* 
* Developer Portfolio
* Created by: Andy Kleindienst
* 11/25/22
*
***********************************************************/


/* ********font-family for whole doc*********** */
* {
    font-family: 'Syne Mono', monospace, sans-serif;
}

/* *******header font-styling */

h1,
h2,
h3 {
    font-size: 3em;
}

/* ********* Navbar and top header******* */
.top-header {
    display: flex;
    justify-content: space-around;
    /* background: linear-gradient(10deg, #540D6E, #EE4266, #FFD23F, #3BCEAC, #0EAD69); */
    width: 100%;
    height: 25%;
    border: 3px solid black;
}

.top-header h1 {
    margin-bottom: 0px;
}

.top-header p {
    font-size: 1.7em;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar li {
    padding: 1.5em;
    font-size: 1.25em;
}

.navbar a {
    text-decoration: none;
    font-size: 1.25em;
    color: black;
}

main {
    /* background: linear-gradient(#c0eae0, #0EAD69) */
}

/* *********section container styling ******* */
.section-outer-box {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-left: 5px solid black;
    border-top: 5px solid black;
}

/* ********About Section********* */

.profile-pic {
    width: 40%;
    box-shadow: 5px 5px 5px grey;
}

/* ********Application Section********** */

.applications {
    Width: 70%;
    border: 3px solid black;
    background-color: white;
    margin: 1%;
    box-shadow: 5px 5px 5px grey;
}

.website-preview {
    width: 100%;
    height: 100%;
}

/* ***********Contact Box******** */


/* *********Responsive Design*********** */
@media screen and (max-width: 850px) {

    .navbar ul,
    .top-header {
        flex-direction: column;
    }
}

@media screen and (max-width: 1010px) {
    .navbar li {
        font-size: 1.5em;
    }
}