/* ******************************************************* 
* Portfolio App
* Developer: Andy Kleindienst
* 11/25/22
*
***********************************************************/
:root {
    --background-color: #5f5caa;
    --border-color: #3c3a6b;
}

/* font-family for whole doc */
* {
    font-family: 'Syne Mono', monospace, sans-serif;
}

/* header font-styling */

h1,
h2 {
    font-size: 3em;
}

/* *************** Navbar and top header styles ***************************************** */
.top-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    border: 3px solid black;
    background-image: url("https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80");
    background-position: center;
    margin-bottom: 25px;
    transition: 2s;
}

/* makes the bkgd picture move on hover */
.top-header:hover {
    background-position: top;
}

.top-header>div {
    margin-left: 3%;
}

.top-header h1 {
    margin-bottom: 0px;
}

.top-header p {
    font-size: 1.7em;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar li {
    padding: 1.5em;
    font-size: 1.6em;
}

.navbar a {
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

}

/* makes the text jump, change color, and add shadow on hover  */
.navbar li:hover a {
    font-size: 1.3em;
    color: white;
    text-shadow: 5px 5px 10px white;
    text-decoration: underline;
}

.navbar a {
    text-decoration: none;
    font-size: 1.25em;
    color: black;
}

/*  ********* section container styles ******* */
.section-outer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 50px;
}

h2 {
    width: 30%;
    position: relative;
    transition: 1s;
}

/* adding an underline to h2s when hovered over */

h2:hover {
    text-decoration: underline;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-left: 5px solid var(--border-color);
    border-top: 5px solid var(--border-color);
    background-image: linear-gradient(var(--background-color), white);
    transition: 1.4s ease-in-out;
}

/* makes the background and text color change on hover */
.section-container:hover {
    background: #3c3a6b;
    color: white;
    border-color: white;
}

/* ******************** About Section ******************************** */

.profile-pic {
    width: 40%;
    box-shadow: 5px 5px 5px grey;
    margin-top: 10px;
}

.bio p {
    margin-left: 10px;
}


/* *************** Application Section *********************************/

.applications {
    Width: 70%;
    border: 2px solid var(--border-color);
    margin: 1%;
    box-shadow: 3px 3px 5px 5px rgb(59, 59, 147);
    transition: 0.5s;
}

/* Adding a popping effect and more shadow when hovered over */
.applications:hover {
    width: 73%;
    offset-position: bottom 10px right 10px;
    box-shadow: 10px 10px 10px 3px rebeccapurple;
    transform: translate(-.25em, -.25em);
}

.website-preview {
    width: 100%;
    height: 100%;
}

h3 {
    position: absolute;
    z-index: auto;
    background: linear-gradient(0.75turn, white, rebeccapurple);
    font-size: 2em;
    border: 2px solid var(--border-color);
}

/* *********** Contact Section ***************************************** */
#contact-box {
    justify-content: center;
    padding: 10px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#contact-form label {
    font-size: 2em;
}

#contact-form input,
#contact-form textarea {
    width: 60%;
    font-size: 1.25em;
}

#contact-box button {
    width: 150px;
    height: 50px;
    background-color: #7e7da9;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;
    transition: width 1s,
        box-shadow 0.5s;

}

#contact-box button:hover {
    width: 200px;
    color: white;
    text-shadow: 5px 5px 10px white;
    font-size: 1.4em;
}

/* ************* Footer styling ************************************** */
footer {
    text-align: center;
}

/* ********* Responsive Design **************************************** */

/* changes the font size of links in navbar */
@media screen and (max-width: 1010px) {
    .navbar li {
        font-size: 1.5em;
    }
}

/* changes font size of text in navbar and labels on applications */
@media screen and (max-width: 850px) {

    .navbar li,
    .applications h3 {
        font-size: 1.3em;
    }
}

/* changes the size of the headers */
@media screen and (max-width: 730px) {

    h1,
    h2 {
        font-size: 2.5em;
    }
}

/* changes the direction of navbar ul */

@media screen and (max-width: 670px) {

    .navbar ul {
        flex-direction: column;
    }
}

/* putting the h1 and links in a column and changing font size of h3s */
@media screen and (max-width: 425px) {
    .top-header {
        flex-direction: column;
    }

    .section-outer-box {
        flex-direction: column;
        align-items: center;
    }

    .applications h3 {
        font-size: 1em;
    }
}